*pycache*
*DS_Store
lightning_logs/
*.ckpt
*.ts
*libtorch*
*.wav
*.txt
runs
*.npy
*.yaml
*.onnx
__version__*
PKG-INFO
.junit-test-report.xml

# Virtual environment
venv/
.venv/
env/
ENV/

# GUI specific
*.db
*.db-journal
.pytest_cache/
.mypy_cache/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
